.binaryColWrapper {
    display:flex;
    justify-content: space-evenly;
  }
  .binaryColWrapper i{
    color: white; 
    font-size: 10vw;
  }
  #number{
    font-size: 12vw;
    color: red;
  }
  @media only screen and (min-width: 768px) {
    .binaryColWrapper i {
      font-size: 6vw;
    }
    #number{
      font-size: 8vw;
    }
  }

  